{% load staticfiles %}
<html>
    <head>
        <title>Test site</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/tasknote.css' %}">
		<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
        	<a href="{% url 'task_new' %}" class="top-menu">Add Task <span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Test site</a></h1>
        </div>

        <div class="content container">
		    <div class="row">
		        <div class="col-md-6">
		        	<h2>Tasks</h2>
		        	Print Variable {{abcd}} End Print Variable
		            {% for task in tasks %}
		                <div class="post">
		                    <h1><a href="">{{ task.subject }}</a></h1>
		                    <div class="date">
		                        <p>Due: {{ task.due_date }}</p>
		                        <p>Assigned to: {{task.assigned_to}}</p>
		                    </div>
		                    <p>{{ task.text_area|linebreaks }}</p>
		                    <p>Visibility Statis: {{ task.visibility_status }} | Case Status: {{ task.case_status }}</p>
		                    <div class="date">
		                        <p>Created: {{ task.created_date }} by {{ task.author }}</p>
		                    </div>
		                </div>
		            {% endfor %}
		        </div>
		        <div class="col-md-6">
		        	<h2>Notes</h2>
		        </div>
		    </div>
		</div>
    </body>
</html>