{% load staticfiles %}
{% load tasknote_templatetags %}
<html>
    <head>
        <title>Test site</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/tasknote.css' %}">
		<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
        	<a href="{% url 'task_new' %}" class="top-menu">Add Task <span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Test site</a></h1>
        </div>

        <div class="content container">
		    <div class="row">
		        <div class="col-md-6">
		        	<h2>Tasks {{testvar1}}</h2>
		            {% for task in tasks %}
		                <div class="post">
		                    <h1><a href="">{{ task.subject }}</a></h1>
		                    <div class="date">
		                        <p>Due: {{ task.due_date }}</p>
		                        <p>Assigned to: {{task.assigned_to}}</p>
		                    </div>
		                    <p>{{ task.text_area|linebreaks }}</p>
		                    {% with x=task.visibility_status|stringformat:"s" %}
		                    {% with args=x|add:",1" %}
		                    <p>Visibility Status: {{VISIBILITY_CHOICES|get_index:args}}</p>
		                    {% endwith %}
		                    {% endwith %}
		                    {% with y=task.case_status|stringformat:"s" %}
		                    {% with args=y|add:",1" %}
		                    <p>Case Status: {{CASE_CHOICES|get_index:args}}</p>
		                    {% endwith %}
		                    {% endwith %}
		                    <div class="date">
		                        <p>Created: {{ task.created_date }} by {{ task.author }}</p>
		                    </div>
		                </div>
		            {% endfor %}
		        </div>
		        <div class="col-md-6">
		        	<h2>Notes</h2>
		        </div>
		    </div>
		</div>
    </body>
</html>